@import "tailwindcss";

:root {

}

@theme {
  --color-primary: #502D52; /* A light primary color */
  --color-secondary: #A53691; /* A dark primary color */
  --color-tertiary: #F0DEEC; /* An accent color */
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-lexend), sans-serif;
}
.inter-text {
  font-family: var(--font-inter), sans-serif;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 75px 20px;
}
@media (max-width: 768px) {
  .container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 30px 20px;
}
}